@import url("/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
====================
COLORS
====================
*/

/* Adding custom colors */
@layer base {
	:root {
		&,
		&.light {
			--background-app-rgb: 244, 245, 257;
			--color-primary-900: 74, 109, 255;
			--color-primary-800: 92, 124, 255;
			--color-primary-700: 110, 138, 255;
			--color-primary-600: 128, 153, 255;
			--color-primary-500: 146, 167, 255;
			--color-primary-400: 164, 182, 255;
			--color-primary-300: 183, 197, 255;
			--color-primary-200: 201, 211, 255;
			--color-primary-100: 219, 226, 255;
			--color-primary-50: 228, 233, 255;

			--color-secondary-900: 17, 24, 39;
			--color-secondary-800: 31, 41, 55;
			--color-secondary-700: 55, 65, 81;
			--color-secondary-600: 75, 85, 99;
			--color-secondary-500: 107, 114, 128;
			--color-secondary-400: 156, 163, 175;
			--color-secondary-300: 209, 213, 219;
			--color-secondary-200: 229, 231, 235;
			--color-secondary-100: 243, 244, 246;
			--color-secondary-50: 249, 250, 251;
			--color-secondary-0: 255, 255, 255;

			--color-success: 0, 192, 115;
			--color-warning: 255, 153, 0;
			--color-error: 255, 71, 87;
			--color-red-500: 239, 68, 68;
			--color-red-300: 252, 165, 165;
		}
		&.dark {
			--color-secondary-900: 249, 250, 251;
			--color-secondary-800: 243, 244, 246;
			--color-secondary-700: 229, 231, 235;
			--color-secondary-600: 209, 213, 219;
			--color-secondary-500: 156, 163, 175;
			--color-secondary-400: 107, 114, 128;
			--color-secondary-300: 75, 85, 99;
			--color-secondary-200: 55, 65, 81;
			--color-secondary-100: 31, 41, 55;
			--color-secondary-50: 17, 24, 39;
			--color-secondary-0: 24, 33, 47;
			--backdrop-color: 0, 0, 0;
		}
	}
}

@layer components {
	/* INPUT */
	.textField__input {
		@apply w-full py-3 px-4 rounded-xl text-secondary-900 border border-secondary-100 bg-white lg:bg-secondary-100 hover:border-primary-500 focus:border-primary-500 focus:bg-secondary-0 transition-all duration-300 ease-out focus:shadow-lg focus:shadow-primary-200 dark:focus:shadow-secondary-200;
	}
	.otp-input {
		@apply bg-white lg:bg-secondary-100 focus:bg-secondary-0 border border-gray-300 hover:border-primary-900 transition-all duration-200 focus:shadow-md focus:shadow-primary-200 outline-none rounded-lg;
	}

	/* BUTTON */
	.btn {
		@apply py-2 px-2 text-white bg-primary-900 rounded-lg hover:bg-primary-800 transition-colors duration-200 active:scale-[0.99];
	}
	.btn--primary {
		@apply px-4 shadow-lg shadow-primary-300 dark:shadow-secondary-200;
	}
	.btn-icon-only {
		@apply rounded-xl grid place-items-center border transition-transform duration-300;
	}

	/* STEPPER */
	.step-item {
		@apply relative flex flex-col justify-center items-center w-full;
	}
	.step-item:not(:first-child):before {
		@apply content-[''] absolute w-full h-[0.5px] left-2/4 top-1/3 translate-y-2/4;
	}
	.step {
		@apply size-6 flex items-center pt-0.5 justify-center top-1.5 z-10 relative rounded-full font-semibold text-white;
	}
	.active .step {
		@apply bg-primary-900 lg:bg-white lg:text-primary-900;
	}
	.complete .step {
		@apply bg-primary-900 lg:bg-white lg:text-primary-900;
	}
	.not-reached .step {
		@apply bg-gray-400;
	}
	.complete p,
	.active p {
		@apply text-black lg:text-white;
	}
	.not-reached p {
		@apply text-gray-400;
	}
	.complete:not(:first-child):before,
	.active:not(:first-child):before {
		@apply bg-primary-900 lg:bg-white;
	}
	.not-reached:not(:first-child):before {
		@apply bg-gray-400;
	}

	/* BADGE */
	.badge {
		@apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5;
	}
	.badge--primary {
		@apply bg-primary-900 text-white;
	}
	.badge--secondary {
		@apply bg-secondary-200 text-secondary-600;
	}
	.badge--success {
		@apply bg-green-500 text-white;
	}
	.badge--danger {
		@apply bg-red-500 text-white;
	}
}

/* Setting globals */
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Vazir";
	min-height: 100dvh;
	user-select: none;
	color: rgb(var(--color-secondary-700));
	background-color: rgb(var(--background-app-rgb));
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	outline: none;
	padding: 0;
	margin: 0;
}

/* SCROLLBAR */
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(var(--color-secondary-300)) rgba(var(--color-secondary-100));
}
*::-webkit-scrollbar-track {
	background: rgba(var(--color-secondary-600));
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(var(--color-secondary-300));
	border-radius: 100vh;
	border: 3px solid rgba(var(--color-secondary-400));
}

button {
	cursor: pointer;
	outline: none;
}

button:disabled {
	cursor: default;
	background-color: rgb(var(--color-secondary-100), 0.5);
	pointer-events: none;
	box-shadow: none;
}

/* label {
  display: block;
} */

select {
	border-left: 8px solid transparent;
}

/* 
====================
COMPONENT STYLES
====================
*/

/* Table styles */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table .title-row {
	background-color: rgb(var(--color-secondary-100));
}

table td,
table th {
	border-bottom: 1px solid rgb(var(--color-secondary-200));
	text-align: right;
	white-space: nowrap;
	text-align: center;
}

table tr:last-child td {
	border-bottom: none;
}

table th {
	padding: 1rem;
	color: rgb(var(--color-secondary-600));
	font-size: 0.9rem;
}

table td {
	font-size: 0.85rem;
	padding: 1rem 1rem;
	color: rgb(var(--color-secondary-600));
}

/* React tag component input styles */
.rti--container {
	background-color: rgb(var(--color-secondary-100)) !important;
	color: rgb(var(--color-secondary-800)) !important;
	padding: 0.6rem 1rem !important;
	border-radius: 0.8rem !important;
	border: 1px solid rgb(var(--color-secondary-100)) !important;
}
.rti--container:hover {
	border: 1px solid rgb(var(--color-primary-500)) !important;
}
.rti--container:focus {
	border: 1px solid rgb(var(--color-primary-500)) !important;
}
.rti--input {
	background-color: rgb(var(--color-secondary-0)) !important;
	color: rgb(var(--color-secondary-900)) !important;
	border-radius: 0.4rem !important;
	padding: 0.2rem 0.5rem !important;
}
.rti--tag {
	color: rgb(var(--color-secondary-700)) !important;
	background-color: rgb(var(--color-secondary-0)) !important;
}

/* Input number styles */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
/* input[type="radio"]:checked + label:before {
  content: "\2713";
  background-color: #000;
  color: #fff;
} */

/* 
====================
INSTRUCTIONS
====================
*/

/* 
Persian font: 
1. Copy the fonts in public folder
2. @import url("/fonts.css")
3. html,body {font-family: "Vazir"}
4. Checkout tailwind config
*/

/* 
Add colors: 
1. @layer base {:root { --color-primary-200: 201, 211, 255;}}
2. Add html,body{ background-color: rgb(var(--background-app-rgb));} for whole pages
3. Checkout tailwind config (and the withOpacity fn)
*/

/* 
Others:
Check the index.css in Freelancing app for more
*/
